header {
	background-color: #222222;
	padding: 3rem 0rem 0rem 0rem;

	.title {
		text-align: center;
		font-family: 'Lora', serif;
		font-style: italic;
		font-size: 3rem;
		color: white;
	}

	.title::after {
		content: '↓↓';
		margin-top: 3rem;
		display: block;
		font-size: 2em;
		transform: translateY(-24px);
		animation: fadein 800ms 500ms cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
	}
}

.cardContainer {
	border-radius: 2rem;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	max-width: 40%;
	padding: 3rem;
	margin: 2% auto 3% auto;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}

// Change font-size for second line
.iconify {
	font-size: 150px;
	line-height: 32px;
}

table,
th,
td {
	border: 1px solid black;
}
